/*반응형*/
@media screen and (max-width:100%){
    header nav, header .right {display: flex;}
}/*데스크탑*/
@media screen and (max-width:1400px){
    header nav, header .right {display: none;}
    main .product {width: 100%; padding: 0 16px;}
}/*데스크탑 작은 창*/
@media screen and (max-width:1000px){}/*태블릿*/
@media screen and (max-width:768px){}/*모바일*/